@import 'tailwindcss';

html {
    font-size: 16px;
    @apply text-white;
}

main {
    @apply bg-bg;
    min-height: 100vh;
}
a.active {
    @apply text-accent;
}

h1 {
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    padding: 1rem;
}

@theme {
    --color-primary: #2a2e36;
    --color-secondary: #3b3f46;
    --color-accent: #d68a1d;
    --color-bg: #121212;
}
