@import 'tailwindcss';

@theme {
    --color-primary: var(--color-blue-950);
    --color-secondary: var(--color-gray-400);
    --color-accent: var(--color-blue-300);
    --color-bg: var(--color-white);
    --color-error: var(--color-red-700);

    --radius-small: var(--radius-md);
    --radius-big: var(--radius-xl);
}

@layer base {
    html {
        font-size: 16px;
        @apply text-primary;
    }

    h1 {
        @apply text-primary text-center font-semibold p-4 text-3xl;
    }

    h1:not(form h1) {
        @apply my-10 text-4xl font-bold;
    }

    a {
        cursor: pointer;
    }

    a:hover {
        @apply text-accent transition-all duration-200;
    }

    input[type='submit'],
    button {
        cursor: pointer;
    }

    input[type='submit'] {
        @apply text-white bg-primary rounded-b-big py-2 w-full text-2xl font-bold;
    }

    a:not(nav a) {
        @apply underline font-semibold;
    }

    main {
        @apply bg-bg pb-40 min-h-[90vh] max-w-screen overflow-x-hidden relative;
    }
}

@layer components {
    .form {
        @apply border-2 rounded-big flex flex-col justify-around items-center gap-8 min-w-1/3;
    }

    .input-container {
        @apply flex flex-col items-center w-full gap-10 px-16 pb-12;
    }
}

@layer utilities {
    .item-smooth-appear {
        @apply opacity-0 group-hover:opacity-100 duration-200 transition-all;
    }
}
