@import 'tailwindcss';

html {
    font-size: 16px;
}

a.active {
    color: rgb(4, 183, 4);
}

a:not(.active):hover {
    color: yellowgreen;
    transition: all;
    transition-duration: 300ms;
}

main {
    background-color: #f2f3f4;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    padding: 1rem;
}
