@import 'tailwindcss';

html {
    font-size: 16px;
    @apply text-primary;
}

main {
    @apply bg-bg pb-40;
    min-height: 90vh;
    position: relative;
}
a:hover {
    @apply text-accent;
    transition: all;
    transition-duration: 200ms;
}

a,
input[type='submit'],
button {
    cursor: pointer;
}

h1 {
    @apply text-primary;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    padding: 1rem;
}
h1:not(form h1) {
    @apply my-10 text-4xl font-bold;
}

a:not(nav a) {
    text-decoration: underline;
    font-weight: 600;
}

.form {
    @apply border-2 rounded-big flex flex-col justify-around  items-center gap-8 min-w-1/3;
}

input[type='submit'] {
    @apply text-white bg-primary rounded-b-big py-2 w-full text-2xl font-bold;
}

.input-container {
    @apply flex flex-col items-center  w-full gap-10 px-16 pb-12;
}

@theme {
    --color-primary: var(--color-blue-950);
    --color-secondary: var(--color-gray-400);
    --color-accent: var(--color-blue-300);
    --color-bg: var(--color-white);
    --color-error: var(--color-red-700);
    --radius-small: var(--radius-md);
    --radius-big: var(--radius-xl);
}
