@import 'tailwindcss';

html {
    font-size: 16px;
    @apply text-primary;
}

main {
    @apply bg-bg;
    min-height: 100vh;
}
a.active {
    @apply text-accent;
}

a {
    text-decoration: underline;
}

a,
input[type='submit'],
button {
    cursor: pointer;
}

h1 {
    @apply text-primary;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    padding: 1rem;
}

.form {
    @apply border-2 rounded-big flex flex-col justify-around rounded-big items-center gap-8 min-w-1/3;
}

input[type='submit'] {
    @apply text-white bg-primary rounded-b-big py-2 w-full text-2xl font-bold;
}

.input-container {
    @apply flex flex-col items-center  w-full gap-10 px-16 pb-12;
}

@theme {
    --color-primary: var(--color-blue-950);
    --color-secondary: var(--color-gray-400);
    --color-accent: #d68a1d;
    --color-bg: var(--color-white);
    --color-error: var(--color-red-700);
    --radius-small: var(--radius-md);
    --radius-big: var(--radius-xl);
}
