@import 'tailwindcss';

html {
    font-size: 16px;
    @apply text-primary;
}

main {
    @apply bg-bg;
    min-height: 100vh;
}
a.active {
    @apply text-accent;
}

a {
    text-decoration: underline;
}

a,
input[type='submit'],
button {
    cursor: pointer;
}

h1 {
    @apply text-primary;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    padding: 1rem;
}

@theme {
    --color-primary: var(--color-blue-950);
    --color-secondary: var(--color-gray-400);
    --color-accent: #d68a1d;
    --color-bg: var(--color-white);
    --color-error: var(--color-red-700);
    --radius-small: var(--radius-md);
    --radius-big: var(--radius-xl);
}
