@import 'tailwindcss';

@theme {
    --color-primary: var(--color-blue-950);
    --color-secondary: var(--color-gray-400);
    --color-accent: var(--color-blue-300);
    --color-bg: var(--color-white);
    --color-error: var(--color-red-700);

    --radius-small: var(--radius-md);
    --radius-big: var(--radius-xl);
}

@layer base {
    html {
        font-size: 16px;
        @apply text-primary wrap-break-word;
    }

    h1 {
        @apply text-primary text-center font-bold py-6 text-4xl;
    }
    form h1 {
        @apply text-3xl font-semibold;
    }

    a {
        cursor: pointer;
    }

    a:hover {
        @apply text-accent transition-all duration-200;
    }

    input[type='submit'],
    button {
        cursor: pointer;
    }

    input[type='submit'] {
        @apply text-white bg-primary rounded-b-small py-2 w-full text-2xl font-bold;
    }

    a:not(nav a) {
        @apply underline font-semibold;
    }

    main {
        @apply bg-bg py-20 min-h-[82vh] max-w-screen overflow-x-hidden relative;
    }
}

@layer components {
    .resizable-section {
        @apply min-w-1/3 max-xl:min-w-2/3 max-md:min-w-3/4;
    }
    .form {
        @apply border-2 rounded-big flex flex-col justify-around items-center min-w-1/3 max-xl:min-w-2/3 max-md:min-w-3/4;
    }

    .input-container {
        @apply flex flex-col items-center w-full gap-10 px-16 max-md:px-12 pb-12;
    }
}

@layer utilities {
    .item-smooth-appear {
        @apply opacity-0 group-hover:opacity-100 duration-200 transition-all;
    }
}

@media (max-width: 640px) {
    html {
        font-size: 14px;
    }
}
